*{
	margin:0px;
	padding:0px;
}
#home {
	background: url('img/snowboard-shot.jpg');
	width:100%;
	background-size:cover;
}
	.center-stage {
		width:400px;
		margin-left:5%;
		margin-top: 50px;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 10px;
		padding:10px;
	}
		.logo {
			margin:auto;
			width:80%;
			display: block;
			margin-bottom: 20px;
		}
		.info{
			font-family: sans-serif;
			margin-top: 10px;
			margin-bottom: 10px;
			font-weight: bolder;
		}
		.resumeLink{
			font-family: sans-serif;
			font-weight: bolder;
			margin:10px;
		}
			.resumeLink>a{
				color:red;
				text-decoration: none;
			}
			.resumeLink>a:hover{
				color:grey;
				text-decoration: none;
			}
			.resumeLink>a:visited{
				color:red;
				text-decoration: none;
			}
		.icon{
			display: inline-block;
			vertical-align: top;
			margin: 2px;
			border:solid 1px white;
			width:60px;
		}
	#resume{
		background: url('img/resume-back.jpg');
		background-attachment: fixed;
		background-size:cover;
	}
	.resume-stage {
		width:650px;
		margin-left:3%;
		margin-top: 50px;
		margin-bottom: 20px;
		background: rgba(255, 255, 255, 0.7);
		border-radius: 10px;
		padding:10px;
		font-family: sans-serif;
	}
		.major{
			font-weight: bolder;
		}
		.minor{
			margin-left:10px;
			font-size:14px;
		}
		.tasks{
			margin-left:40px;
		}	